body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #8758ff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: white;
}

/* Todo Container Styling */
.Todo-container {
  background-color: #1e0952; /* Set the background color */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
}

.todo-input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem; /* Increase space between search bar and tasks */
}

.todo-input {
  flex-grow: 1;
  padding: 0.75rem; /* Increase padding to make the search bar bigger */
  border: 1px solid #6a42cc; /* Set border color */
  border-radius: 5px;
  margin-right: 0.5rem;
  outline: none;
  background-color: transparent; /* Set background color to transparent */
  color: white; /* Ensure text color is visible */
}

.todo-input::placeholder {
  color: #a1a1a1;
}

.todo-btn {
  padding: 0.75rem 1.5rem; /* Increase padding to match the bigger search bar */
  background-color: #6a42cc;
  color: white;
  border: 1px solid #6a42cc; /* Set border color */
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.todo-btn:hover {
  background-color: #4a31a3;
}

/* Todo Items Styling */
.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  padding: 0.5rem 1rem; /* Decrease the padding to reduce height */
  border: 1px solid #6a42cc; /* Set border color */
  border-radius: 8px;
  margin-bottom: 0.2rem;
  transition: all 0.3s ease;
  cursor: pointer; /* Ensure the cursor is a pointer */
  width: 70%; /* Adjust width to fit the container */
  margin-left: 42px; /* Align items to the right */
}

.Todo:hover {
  background-color: #6a42cc;
  /* Adjust padding on hover if necessary */
}

.Todo-item-text {
  color: white;
  font-size: 1rem;
  text-align: left;
  flex-grow: 1;
  cursor: pointer; /* Ensure the cursor is a pointer */
}

.Todo-item-text.completed {
  text-decoration: line-through; /* Cross out the text */
  color: #a1a1a1; /* Optional: Change the color of completed tasks */
}

.Todo-item-actions {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.Todo-item-actions .icon {
  margin-left: 0.5rem;
  cursor: pointer;
}

.Todo-item-actions .icon:hover {
  color: #c5aeff;
}

.Todo-item-actions button {
  background: none;
  border: none;
  color: white;
  margin-left: 0.5rem;
  cursor: pointer;
}

.Todo-item-actions button:hover {
  color: #c5aeff;
}

.fa-trash {
  font-size: 1.2rem;
}

.fa-edit {
  font-size: 1.2rem;
}

.todo-item {
  cursor: pointer;
}

/* Add Animations */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}